#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.article-card {
  margin: 20px;
  padding: 20px;
}

.comments-list {
  margin-top: 50px;
  align-items: flex-start;
}
.list-header {
  display: flex;
  margin-left: 90px;
}

.comment-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.comment-card-body {
  padding: 10px;
}

.comment-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 15px;
  background-color: #f8f9fa;
}

.comment-card-author {
  font-weight: bold;
  margin-left: 5px;
}

.comment-card-date {
  font-size: 12px;
  padding: 10px;
}

.votes-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px;
}

.vote-button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  background-color: #eee;
  color: #333;
  cursor: pointer;
}

.vote-count {
  font-size: 18px;
  font-weight: bold;
}

.comment-adder-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.comment-adder-form {
  display: flex;
  align-items: center;
}

.comment-adder-input {
  flex: 1;
  padding: 3px;
  margin-right: 10px;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  border-radius: 10px;
}

.comment-adder-button {
  padding: 8px 16px;
  height: 44px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.comment-adder-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #333;
}
.topics-button {
  background-color: #eee;
  color: #333;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.topics-button:hover {
  background-color: #ccc;
}

.topic-header {
  background-color: #646cff;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
